version: 2.1
orbs:
  codecov: codecov/codecov@3.1.1
jobs:
  build:
    machine:
      image: ubuntu-2204:2023.10.1
    steps:
      - checkout
      - run: sudo apt-get update
      - run: sudo apt-get install g++ cmake valgrind
      - run: cmake -DCMAKE_CXX_FLAGS="-g -fsanitize=address -std=c++17" . && make -j8
      - run: ctest -V
#      - codecov/upload:
#          file: coverage/coverage-final.json
#workflows:
#  upload-to-codecov:
#    jobs:
#      - build
